.card {
    margin: 5px !important;
    transition: ease .3s;
}

.card:hover {
    -webkit-box-shadow: 2px 7px 34px 10px rgba(255, 255, 255, 1) !important;
    -moz-box-shadow: 2px 7px 34px 10px rgba(255, 255, 255, 1) !important;
    box-shadow: 2px 7px 34px 10px rgba(255, 255, 255, 1) !important;
}